/* typography */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
/* font-family: 'Fredericka the Great', cursive; */
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
/* font-family: 'DM Serif Text', serif; */
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
/* font-family: 'Bree Serif', serif; */
@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');
/* font-family: 'Coda', cursive; */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
/* font-family: 'Slabo 27px', serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bree Serif', serif;
    font-size: 3.125em;
    /* 50px */
    margin: 0.2em 0em;
    /* 10px 0px */
}

#heading,
h1 {
    font-family: 'Coda', cursive;
    font-size: 3.125em;
    /* 50px */
    margin: 0.938rem;
    /* 15px */
}

h1 {
    /* background-color: brown; */
    text-align: center;
    text-transform: uppercase;
    padding: 1.25rem;
    /* 20px */
    margin: 0.625rem 9.063rem;
    /* 10px 145px */
    display: none;
}

#main-menu-toggle,
#main-menu-close,
#home-button {
    display: none;
}

h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 1.875em;
    /* 30px */
    letter-spacing: 0.1em;
    /* 3px */
    text-align: center;
    margin-top: 0em;
}

.home-headings {
    border-top: 0.125rem solid brown;
    border-bottom: 0.125rem solid brown;
    /* 2px */
    padding: 0.625rem 0rem;
    /*10px 0px */
}

h3 {
    font-family: 'Fredericka the Great', cursive;
    border-top: 0.125rem solid brown;
    /* 2px */
    border-bottom: 0.125rem solid brown;
    padding: 1.25rem 0rem;
    /* 20px */
    text-align: center;
}

.gallery {
    margin-bottom: 1.25rem;
    /* 20px */
}

h4 {
    font-size: 2.500em;
    /* 40px */
    color: brown;
    font-weight: bold;
    letter-spacing: 0.025em;
    /* 1px */
    margin-left: 0.5em;
    /* 20px */
}

nav {
    font-family: 'Fredericka the Great', cursive;
}

main {
    font-family: 'Roboto', sans-serif;
    line-height: 1.875em;
    /* 30px */
}

p {
    font-size: 1.125em;
    /* 18px */
    margin: 1.25rem 0rem;
    /* 20px 0px */
}

#copyright {
    font-size: 1.000em;
    /* 16px */
    margin: 0em 4.6875em;
    /* 0px 75px */
    color: brown;
    font-family: 'DM Serif Text', serif;
}

.opening {
    font-family: 'Slabo 27px', serif;
    font-size: 1.625em;
    /* 26px */
    text-align: center;
    padding-bottom: 26.875rem;
    /* 430px */
    line-height: 2.188rem;
    /* 35px */
    margin: 0em;
}

ul {
    font-size: 1.063em;
    /* 17px */
    padding-left: 2.188rem;
    /* 35px */
    list-style: circle;
    margin-bottom: 1.25rem;
    /* 20px */
}

footer {
    font-family: 'Slabo 27px', serif;
    font-size: 1.063em;
    /* 17px */
}

/* anchor styles */

a {
    color: #0099C8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #006B8B;
    font-weight: bold;
}

a:active {
    color: #767676;
}

/* Main containers */

header {
    padding: 1.250em 0em;
    /* 20px 0px */
}

nav {
    background-color: brown;
}

nav ul {
    font-size: 1.250em;
    /* 20px */
    list-style: none;
    padding: 0.75em;
    /* 15px */
    padding-left: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 2.5em;
    /* 0px 50px */
}

nav ul li {
    display: inline;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

nav ul li a:visited {
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

nav ul li a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:active {
    color: #ADB9BD;
    border-bottom: 0.125rem solid #FFFEF3;
    /* 2px */
}

nav ul li a.currentpage {
    color: black;
    font-weight: bold;
    border-bottom: 0.125rem solid #FFFEF3;
    /* 2px */
}

#heading,
h1 a,
footer a {
    color: black;
    font-weight: bold;
}

#heading:visited,
h1 a:visited,
footer a:visited {
    color: black;
    font-weight: bold;
}

#heading:hover,
h1 a:hover,
footer a:hover {
    color: #282828;
    text-decoration: none;
}

#heading:active,
h1 a:active,
footer a:active {
    color: #424949;
    border-bottom: none;
}

body {
    background-image: url(../images/background-edit2.png);
    background-repeat: repeat;
    background-position: top center;
}

.homepagebg {
    background-image: url(../images/homepage-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0em -5.625em;
    /* 0px -90px */
    background-color: #FFFEF3;
}

.wrapper {
    width: 88%;
    margin: 0em auto;
}

main {
    background-color: #FFFEF3;
    padding: 1.250em;
    /* 20px */
    overflow: auto;
    margin-bottom: 1.250em;
    /* 20px */
}

.homepage {
    background-color: transparent;
}

footer {
    background-color: brown;
    color: white;
    padding: 0.625em 0.625em 3.438em;
    /* 10px 10px 55px */
}

footer p {
    margin: 0.625rem 0rem 0rem;
    /* 10px 0px 0px */
}

footer a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.250em;
    /* 20px */
    background-color: white;
    padding: 0.5em;
    /* 10px */
    float: right;
    margin: 0em 0.5em 0.5em;
    /* 0px 10px 10px */
}

/* images */

.leftimg {
    width: 45%;
    float: left;
    margin: 1.250em 1.563em 1.250em 0.313em;
    /* 20px 25px 20px 5px */
}

#leftimg-portrait {
    width: 45%;
    float: left;
    margin: 0.625em 1.250em 1.250em 0em
        /* 10px 20px 20px 0px */
}

#leftimg-logo {
    width: 45%;
    float: left;
    margin-right: 1.250em;
    /* 20px */
}

.centerimg {
    width: 95%;
    margin: 0.625em 1.563em;
    /* 10px 25px*/
}

.rightimg {
    width: 50%;
    float: right;
    margin: 0em 1.250em 1.250em 1.250em;
    /* 0px 20px 20px 20px */
}

#rightimg-history {
    width: 50%;
    float: right;
    margin: 0em 0.625em 0.625em 1.250em;
    /* 0px 10px 10px 20px */
}

#rightimg-home {
    width: 50%;
    float: right;
    margin: 1.250em 0.625em 0.625em 1.250em;
    /* 20px 10px 10px 20px */
}

.image {
    padding: 6px;
    /* 6px */
    float: left;
    width: 12.500em;
    /* 200px */
}

.gal-image img {
    margin: 0em 0em 1.563em;
    /* 0px 0px 25px */
    border: 0.063em solid transparent;
    /* 1px */
}

.row {
    clear: both;
}

.gal-image img:hover {
    border: 0.063em solid black;
    /* 1px */
}

/* responsive css for main containers */

@media screen and (max-device-width: 480px) {

    .rightimg,
    #rightimg-history,
    #rightimg-home,
    #leftimg-portrait,
    #leftimg-logo,
    .leftimg,
    .image {
        float: none;
        width: 95%;
    }

    .homepagebg {
        background-position: top;
    }

    .opening {
        padding-top: 28.125rem;
        /* 450px */
        padding-bottom: 1.875rem;
        /* 30px */
    }

    footer p {
        font-size: 0.688rem;
        /* 11px */
    }

    h4 {
        line-height: 3.125rem;
        /* 50px */
    }

    p {
        line-height: 2.813rem;
        /* 45px */
    }

    #copyright {
        margin: 0em 1em;
    }
}

/* responsive css for hamburger navigation */

@media screen and (max-device-width: 480px) {

    h1,
    #home-button {
        display: block;
    }

    #heading {
        display: none;
    }

    #main-menu-toggle,
    #main-menu-close {
        display: block;
        padding: 30px;
        border-bottom: none;
    }

    nav ul {
        list-style-type: circle;
    }

    nav ul li {
        display: block;
    }

    /* Screen reader only */

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    /* Button styling */

    .menu-toggle {
        line-height: 1em;
        font-size: 3em;
    }

    .main-menu {
        position: absolute;
        display: none;
        left: -200px;
        top: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
            box-shadow 0.3s ease;
        z-index: 999;
    }

    .main-menu ul {
        display: block;
        margin: 0;
        padding: 4.5em 0 0;
        min-height: 100%;
        width: 290px;
        background: brown;
    }

    .main-menu a {
        display: block;
        padding: 1.75em 15px;
        line-height: 1em;
        font-size: 37px;
        color: #fff;
        border-bottom: 1px solid #383838;
    }

    .main-menu li:first-child a {
        border-top: 1px solid #383838;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        background: #333;
        text-decoration: underline;
    }

    .main-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }

    header {
        display: flex;
        align-items: center;
        background-color: brown;
        margin: 1.250em 0em;
    }

    article {
        padding: 30px;
        width: 55em;
        font-size: 16px;
        line-height: 1.5em;
    }

    article h2 {
        font-weight: 500;
        font-size: 28px;
    }

    .logo {
        margin: 0 30px 0 10px;
        font-size: 1.5em;
    }

    .main-menu:target,
    .main-menu[aria-expanded="true"] {
        display: block;
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
        -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
        box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    }

    .main-menu:target .menu-close,
    .main-menu[aria-expanded="true"] .menu-close {
        z-index: 1001;
    }

    .main-menu:target ul,
    .main-menu[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }

    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #000;
        background: rgba(0, 0, 0, .85);
        cursor: default;
    }

    @supports (position: fixed) {

        .main-menu,
        .main-menu:target + .backdrop,
        .main-menu[aria-expanded="true"] + .backdrop {
            position: fixed;
        }

        .fa-bars:before {
            color: black;

        }
    }
